<!DOCTYPE html>
<html>
<head>
  <title>JustBuckIt.us</title>
 <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="favicon.ico"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">JustBuckIt.us</a>
        <div class="nav-collapse">
          <div class="nav pull-right">         
            <% if @current_user %>
                    			<li ><%= link_to "#{@current_user.first_name} #{@current_user.last_name}", user_url(@current_user) %></li>
                    			<li><%= link_to "Sign Out", sign_out_url %></li>
                    		<% else %>
                    			<li><%= link_to "Sign In", new_session_url %></li>
                    			<li><%= link_to "Sign Up", new_user_url %></li>
                    		<% end %>
           

          
            </div>
         	
          </ul>
        </div>  
      </div>
    </div>
  </div>
  
<div class="wrapper">
  <div class ="container">
    </br>
    </br>
    </br>
    <div class="row">
      <div class="span9"><%= yield %></div>
      <div class="span3"> <%= yield(:side_bar) %></div>
    </div>

  <div class="footer-push">
  
    
 
</div>  
<footer class="footer">

    <div class="container">
      <hr>
      <p>
  	 Painstakingly hacked together by <a href="http://twitter.com/chriscliang">@chriscliang</a> and <a href="http://twitter.com/paulwuhoo">@paulwuhoo</a>. Special thanks to all of the mentors at <a href="http://codeacademy.org">Code Academy</a> for helping us along the way.
  	</p>
  	<p>Copyright 2012</p>
  	</div>
</footer>
 
</body>
</html>
  
  
